.title {
    font-weight: 400;
    font-size: 35px;
}

.rating {
    margin-top: 3px;
    margin-left: 5px;
}

.overview:hover {
    overflow-y: auto;
}
.overview {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    height: 120px;
    overflow-y: hidden;
    margin-top: 10px;
}


/* Pour les navigateurs basés sur WebKit (comme Chrome, Safari) */
.overview::-webkit-scrollbar {
    width: 6px;
}

.overview::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.overview::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Style de la barre de défilement lorsqu'elle est survolée */
.overview:hover::-webkit-scrollbar-thumb {
    background-color: #2a2a2a; /* Couleur de la barre de défilement au survol */
    border-radius: 10px;
}


.rating_container {
    display: flex;
}